<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>ZhinianPay_zblog</id>
<name>执念付费阅读</name>
<url></url>
<note>文章付费阅读插件</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>执念博客</name>
  <email>zhinianblog@163.com</email>
  <url>https://zhinianboke.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>173050</adapted>
<version>1.0.1</version>
<pubdate>2022-11-12</pubdate>
<modified>2022-11-16</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>